<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <display-name>NLN_Library</display-name>
    <!-- Lỗi 404 -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <!-- Filter mã hóa -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Thời gian session -->
    <servlet>
        <servlet-name>AdminUploadExcelServlet</servlet-name>
        <servlet-class>Servlet.AdminUploadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReminderJobServlet</servlet-name>
        <servlet-class>Servlet.ReminderJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestoreBookServlet</servlet-name>
        <url-pattern>/RestoreBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUploadExcelServlet</servlet-name>
        <url-pattern>/AdminUploadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReminderJobServlet</servlet-name>
        <url-pattern>/cron/reminders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- ==== KHAI BÁO SERVLET ==== -->
    <servlet>
        <servlet-name>CheckAvailabilityServlet</servlet-name>
        <servlet-class>Servlet.CheckAvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <servlet-class>Payment.PaymentReturnServlet</servlet-class>
    </servlet>
    <!-- VNPAY samples -->
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <!-- App servlets -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookItemServlet</servlet-name>
        <servlet-class>Servlet.BookItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordHashing</servlet-name>
        <servlet-class>Servlet.PasswordHashing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveUserServlet</servlet-name>
        <servlet-class>Servlet.ApproveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenewServlet</servlet-name>
        <servlet-class>Servlet.RenewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>Servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>Servlet.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowBookServlet</servlet-name>
        <servlet-class>Servlet.BorrowBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveBorrowServlet</servlet-name>
        <servlet-class>Servlet.ApproveBorrowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBorrowServlet</servlet-name>
        <servlet-class>Servlet.CancelBorrowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>Servlet.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreBookServlet</servlet-name>
        <servlet-class>Servlet.RestoreBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAvailabilityServlet</servlet-name>
        <url-pattern>/CheckAvailabilityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>Servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <url-pattern>/PaymentReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookItemServlet</servlet-name>
        <url-pattern>/BookItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordHashing</servlet-name>
        <url-pattern>/PasswordHashing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenewServlet</servlet-name>
        <url-pattern>/RenewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowBookServlet</servlet-name>
        <url-pattern>/BorrowBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveUserServlet</servlet-name>
        <url-pattern>/ApproveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveBorrowServlet</servlet-name>
        <url-pattern>/ApproveBorrowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBorrowServlet</servlet-name>
        <url-pattern>/CancelBorrowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet</url-pattern>
    </servlet-mapping>
</web-app>
